<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/lib/angular.min.js"></script>
    <script src="/app.js"></script>
    <!-- <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/backbone.js"></script>-->
    <script src="/lib/handlebars.js"></script>

  </head>

  <body>
    <h1>Shortly</h1>
    <div class='navigation' ng-controller='navController'>
      <ul>
        <li ng-repeat='header in headers'>
          <a href='#'class='{{header.class}}' ng-click='header.actions()'>
          {{header.text}}
          </a>
        </li>
      </ul>
    </div>
    <div ng-controller="linkController">
      <div class='link' ng-repeat="link in links">
        <img src='/redirect_icon.png'/>
        <div class='info'>
          <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
          <div class='title'>{{link.title}}</div>
          <div class='original'>{{link.url}}</div>
          <a href='{{link.base_url}}/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
        </div>
      </div>
    </div>
    <%- body %>
  </body>
</html>
